* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%vh;
  width: 100vw;
}

header {
  color: wheat;
  background-color: blue;
}

body {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

#join_form {
  color: white;
  background-color: skyblue;
}

footer {
  color: blue;
  background-color: blue;
}
